  @keyframes bubble {
    0%   { opacity:0.0; }
    50%  { opacity:0.5; }
    100% { opacity:1.0; }
}
html{
    background-image : url("../../images/bg2.jpg");
    height: 100%;
    width: 100%;
    overflow: 'hidden';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: bubble 2.5s linear forwards;
}
.root{
  
    /* position: center; */
}
.lang{
    color: crimson;
    /* margin: "2px 4px"; */
    text-align: left;
    font-style: oblique;
}
.lang:hover{
}
.intro-head{
    color: beige;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 320%;
    margin-top: 20%;
    margin-left: 50%;
}
.intro{
    color: beige;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    margin-left: 50%;
}
.intro-oth{
    color: beige;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    margin-left: 50%;
}